.project {
    display: block;
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid lightgray;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.project-browser {
    height: 20px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.project-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.project-image {
    width: 100%;
    transition: all 10s ease;
}

.project:hover .project-image {
    transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
    .project {
        width: 40%;
        height: 30vh;
    }
}
@media screen and (max-width: 480px) {
    .project {
        width: 40%;
        height: 20vh;
    }
}
