.lists {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: grey;
}

.lists-text {
    width: 65%;
}

.lists-title {
    font-style: 50px;
    font-weight: 600;
}

.lists-desc {
    margin: 20px 0;
}

.lists-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .lists {
        padding: 10px;
    }

    .lists-text {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lists {
        padding: 10px;
    }

    .lists-text {
        width: 100%;
    }
}