.iphone-calculator {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    padding: 20px;
    width: 350px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone-calculator .current-operations {
    font-size: 40px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    height: 66px;
    color: white;
}

.iphone-calculator .result {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    height: 70px;
}

.iphone-calculator .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.iphone-calculator .number-button,
.iphone-calculator .operator-button,
.iphone-calculator .funcionality-button,
.iphone-calculator .ac-button,
.iphone-calculator .equal-button {
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.iphone-calculator .funcionality-button {
    background-color: #d4d4d2;
}

.iphone-calculator .funcionality-button:hover {
    background-color: #fafaf8;
}

.iphone-calculator .operator-button {
    background-color: #ff9500;
    color: white;
}

.iphone-calculator .operator-button:hover {
    background-color: #fcc981;
}

.iphone-calculator .equal-button {
    background-color: #efefef;
    color: black;
    height: 150px;
}

.iphone-calculator .number-button {
    background-color: #505050;
    color: #efefef;
}

.iphone-calculator .number-button:hover {
    background-color: #828282;
}

.iphone-calculator .number-button.zero-button {
    width: 166px;
    border-radius: 50px;
}

@media screen and (max-width: 455px) {
    .iphone-calculator {
        width: 250px;
        height: 400px;
        padding: 10px;
    }

    .iphone-calculator .current-operations {
        font-size: 24px;
        height: 40px;
    }

    .iphone-calculator .result {
        font-size: 30px;
        margin-bottom: 10px;
        height: 40px;
    }

    .iphone-calculator .number-button,
    .iphone-calculator .operator-button,
    .iphone-calculator .funcionality-button,
    .iphone-calculator .ac-button,
    .iphone-calculator .equal-button {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .iphone-calculator .number-button.zero-button {
        width: 105px;
    }
}
