footer {
    text-align: center;
    background: rgba(33, 33, 33, 1) 100%;
    padding: 20px 23px;
    color: #fff;
}
footer span a {
    color: crimson;
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}
